name: Docker Image Build CI

on:
  push:
    branches: [ main ]
#  pull_request:
#    branches: [ main ]

jobs:

  create-docker-images:
    env:
      go-source-dir: ./services/go
      python-source-dir: ./services/python

    runs-on: ubuntu-slim
#TODO: Next steps for a parallel build and push.
# https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
#    needs to inspect the "steps:" and also add these below
#    strategy:
#      matrix:
#        platform: ["linux/amd64", "linux/arm64"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU for multi-arch build
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker BuildX for multi-arch build
      uses: docker/setup-buildx-action@v3
    - name: "Login to neverping's DockerHub private account"
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_LOGIN }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and publish zeebo-python image into Docker Hub.
      uses: docker/build-push-action@v5
      with:
        context: ${{ env.python-source-dir }}
        file: "${{ env.python-source-dir }}/Dockerfile"
        platforms: linux/amd64,linux/arm64
        push: true
        tags: neverping/zeebo-python:latest
    - name: Build and publish zeebo-go image into Docker Hub.
      uses: docker/build-push-action@v5
      with:
        context: ${{ env.go-source-dir }}
        file: "${{ env.go-source-dir }}/Dockerfile"
        platforms: linux/amd64,linux/arm64
        push: true
        tags: neverping/zeebo-go:latest
